{
  "mcpServers": {
    "stitch": {
      "command": "npx",
      "args": ["@_davideast/stitch-mcp", "proxy"],
      "env": {
        "STITCH_API_KEY": "AQ.Ab8RN6L64v0kPt7J-Hvp-2XleTUtDutc38FeaCRjt0k_dkWvww"
      }
    }
  }
}
